<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Mongo Music'}) %>
    <link rel="stylesheet" href="/styles/discover-page.css">
    <script src="/public/scripts/carousel.js" defer></script>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Discover</h2>
    </section>

    <main>
        <section class="Songs">
            <ul>
                <% for (let song of songs) { %>
                <li>
                    <figure>
                        <img src="<%= song.photo %>">
                        <figcaption>
                            <h4><%= song.name %></h4>
                            <a href="/songs/<%= song._id %>">Learn More</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>