<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit ${song.name} | Mongo Music`}) %>
    <link rel="stylesheet" href="/styles/new-song.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Edit Song</h1>

    <form method="POST" action="/songs/<%= song._id %>?_method=PUT">
        <!-- Name input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= song.name %>" required>
        <br>

        <!-- Photo input -->
        <label for="photo">Album Cover:</label>
        <input type="text" id="photo" name="photo" value="<%= song.photo %>" required>
        <br>
        
        <!-- Description input -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= song.description %></textarea>
        <br>

        <!-- Artist name input -->
        <label for="artist-name">Artist:</label>
        <textarea id="description" name="description" required><%= song.artist %></textarea>
        <br>
        
        <!-- Description input -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= song.description %></textarea>
        <br>
        <input type="submit" value="Edit Song">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>