<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Mongo Music'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Welcome to Mongo Music!</h2>
            <a href="/songs" class="btn discoverbtn">Discover All</a>
        </section>
        </section>

        <section class="featured-songs">
            <h2>Featured Songs</h2>
            <ul class="song-grid">
                <% for (let song of songs) { %>
                <li>
                    <figure>
                        <img src="<%= song.photo %>">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= song.name %></h3>
                            <p>Release Date: <%= song.dateReleased %></p>
                        </div>
                        <a href="/songs/<%= song._id %>" class="btn" id="learn-more">Learn More</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>