<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${song.name} | Mongo Music`}) %>
    <link rel="stylesheet" href="/styles/song-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img class="song-photo" src="<%= song.photo %>">

        <h2 class="song-name"><%= song.name %></h2>
        <p class="song-description"> <%= song.description %></p>

        <section class="actions">
            <button class="btn"><a href="/songs/<%= song._id %>/edit">Edit</a></button>
            <form method="POST" action="/songs/<%= song._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
            <button class="btn"><a href="/reviews/new-review/<%= song._id %>">Leave a review</a></button>
        </section>
        <br>

        <h1 class="review-title">Reviews: </h1>
        <section class="review-section">
                <% for (let review of song.reviews) { %>
                    <figure>
                        <figcaption class="reviews">
                            <h4><span class="grey">Subject: </span><%= review.title %></h4>
                            <h3><span class="grey">User: </span><%= review.reviewer %></h3>
                            <p><span class="grey">Review: </span><%= review.content %></p>
                        </figcaption>
                    </figure>
                <% } %>
        </section>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>